*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:aliceblue;
}

h1{
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

.container{
    width: 50%;
    min-width: 340px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px ;
    border-radius: 8px;
}

#inputtask{
    position: relative;    
    padding: 30px 15px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

#inputtask input {
    border-radius: 5px;
    width: 85%;
    height: 45px;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    position: relative;
}

#inputtask input:focus{
    outline: none;
    border-color: coral;
}

#inputtask button {
    position: relative;
    float: right;
    width: 10%;
    height: 45px;
    border-radius: 5px;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    font-size: 30px;
    background-color:coral;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

#list {
   width: 100%;
   position: relative;
   margin-top: 40px;
   background-color: white;
   box-shadow: 0 15px 30px rgba(0,0,0,0.3);
   padding: 30px 20px;
   border-radius: 5px;
}

.task {
    background: white;
    height: 50px;
    padding: 5px 10px;
    border-radius: 0px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 2px solid #d1d3d4;
}

.task span {
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.task button {
    border: none;
    background-color: coral;
    height: 100%;
    width: 40px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.completed{
    text-decoration: line-through;
}
